{% extends 'index.html' %}

{% block title %}Lista de Colaboradores{% endblock %}

{% block content %}

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <h2>Colaboradores</h2>
    <a href="{% url 'colaborador_create' %}" class="btn-novo">
        <i class="fa-solid fa-plus"></i> Novo Colaborador
    </a>
</div>


<div class="content-box">
    <table class="data-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>Cargo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for colab in colaboradores %}
            <tr>
                <td>{{ colab.nome }}</td>
                <td>{{ colab.matricula }}</td>
                <td>{{ colab.cargo }}</td>
                <td>
                    <a href="{% url 'colaborador_update' colab.pk %}" class="btn-action btn-editar"><i
                            class="fa-solid fa-pen"></i></a>
                    <a href="{% url 'colaborador_delete' colab.pk %}" class="btn-action btn-excluir"><i
                            class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum colaborador cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}