{% extends 'index.html' %}

{% block title %}
{% if object %}Editar Colaborador{% else %}Novo Colaborador{% endif %}
{% endblock %}

{% block content %}
<!--  {% if object %}
        <h1>Editar Colaborador</h1>
    {% else %}
        <h1>Novo Colaborador</h1>
    {% endif %} -->

<div style="margin-bottom: 20px;">
    <h2>{% if object %}Editar{% else %}Novo{% endif %} Colaborador</h2>
</div>

<!-- <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
    <a href="{% url 'colaborador_list' %}">Cancelar</a>
</form> -->

<div class="form-card">
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_nome" class="form-label">Nome:</label>
                <input type="text" name="nome" id="id_nome" value="{{ form.nome.value|default:'' }}" class="form-input">
            </div>

            <div class="form-group">
                <label for="id_matricula" class="form-label">Matrícula:</label>
                <input type="text" name="matricula" id="id_matricula" value="{{ form.matricula.value|default:'' }}" class="form-input">
            </div>

            <div class="form-group">
                <label for="id_cargo" class="form-label">Cargo:</label>
                <input type="text" name="cargo" id="id_cargo" value="{{ form.cargo.value|default:'' }}" class="form-input">
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-submit">
                    <i class="fa-solid fa-check"></i> Salvar
                </button>
                
                <a href="{% url 'colaborador_list' %}" class="btn-cancel">
                    Cancelar
                </a>
            </div>

        </form>
    </div>


{% endblock %}